<h2>Add Student</h2>
<form method="post">
    {% csrf_token %}
    Username:
    <input type="text" name="username" required><br><br>
    Password:
    <input type="password" name="password" required><br><br>
    Staff:
    <select name="staff" required>
        {% for staff in staff_list %}
        <option value="{{ staff.id }}">
            {{ staff.staff.username }}
        </option>
        {% endfor %}
    </select><br><br>
    Gender:
    <input type="text" name="gender"><br><br>
    Course:
    <input type="text" name="course"><br><br>
    Address:
    <input type="text" name="address"><br><br>
    <button type="submit">Add Student</button>
</form>
<a href="{% url 'admin_home' %}">Back</a>