{% extends "main_app/base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>
<div style="display: flex; gap: 20px;">
    <div style="border:1px solid black; padding: 20px;">
        <h3>Total Admin</h3>
        <p>{{ total_admin }}</p>
    </div> 
    <div style="border: 1px solid black; padding:20px">
        <h3>Total Staff</h3>
        <p>{{ total_staff }}</p>
    </div>
    <div style="border: 1px solid black; padding: 20px;">
        <h3>Total Student</h3>
        <p>{{ total_student }}</p>
    </div>
</div>
{% endblock %}