{% extends "main_app/base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <div class="card bg-success text-white p-3">
            <h4>Total Students</h4>
            <h2>{{ total_student }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-primary text-white p-3">
            <h4>Total Staff</h4>
            <h2>{{ total_staff }}</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-warning text-white p-3">
            <h4>Total Admin</h4>
            <h2>{{ total_admin }}</h2>
        </div>
    </div>
</div>